<div>
  Hello I am the show action!!!!

  <div>
    <p>title: <%= @recipe.title %></p>
    <p>ingredients: <%= @recipe.ingredients %></p>
    <p>prep_time: <%= @recipe.prep_time %></p>
    <p>directions: <%= @recipe.directions %></p>
    <p>id: <%= @recipe.id %></p>
  </div>
</div>
