Here is the form to edit a recipe


<form action="/recipes/<%= @recipe.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <p>title: <input type="text" name="title" value="<%= @recipe.title %>"></p>
  <p>ingredients: <input type="text" name="ingredients" value="<%= @recipe.ingredients %>"></p>
  <p>directions: <input type="text" name="directions" value="<%= @recipe.directions %>"></p>
  <p>prep_time: <input type="text" name="prep_time" value="<%= @recipe.prep_time %>"></p>
  <p>image_url: <input type="text" name="image_url" value="<%= @recipe.image_url %>"></p>
  <input type="submit" value="edit this recipe">
</form>
