Hi from the show action

<a href="/recipes">Go back to the home page</a>


<p><%= @recipe.title %></p>
<p><%= @recipe.user.email %></p>
<p><%= @recipe.prep_time %></p>
<p><%= @recipe.directions %></p>
<p><%= @recipe.ingredients %></p>
<p><%= @recipe.id %></p>
